.check {
  width: 1120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 202px;
}
.check h2 {
  text-align: center;
}
.check h2::after {
  display: block;
  content: '';
  height: 2px;
  width: 56px;
  background-color: black;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 72px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.check-img {
  width: 350px;
  height: 246px;
  margin-bottom: 21px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.check h3 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 1.5;
  color: #000000;
  margin-bottom: 12px;
  width: 251px;
}
.check p {
  font-size: 1.6rem;
  line-height: 1.75;
  width: 266px;

  margin-bottom: 25px;
}
.check ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.check li {
  width: 350px;
  display: inline-block;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-bottom: 72px;
}
.check figcaption {
  padding-right: 51px;
  padding-left: 31px;
}
.check figcaption a {
  display: inline-block;
  padding-bottom: 35px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
}
.check figcaption a img {
  margin-left: 18px;
}
.learn-more-button {
  margin-left: auto;
  margin-right: auto;
}
