.check {
  @include width_1120px;
  @include margin_auto;
  margin-bottom: 202px;
  h2 {
    text-align: center;
    &::after {
      display: block;
      content: '';
      height: 2px;
      width: 56px;
      background-color: $h1_h2_h3_color;
      border-radius: 5px;
      margin-top: 26px;
      margin-bottom: 72px;
      text-align: center;
      @include margin_auto;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 1.5;
    color: $h1_h2_h3_color;
    margin-bottom: 12px;
    width: 251px;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.75;
    width: 266px;
    margin-bottom: 25px;
  }
  ul {
    @include flex;
    flex-wrap: wrap;
  }
  li {
    width: 350px;
    display: inline-block;
    background: #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-bottom: 72px;
  }
  figcaption {
    padding-right: 51px;
    padding-left: 31px;
    a {
      display: inline-block;
      padding-bottom: 35px;
      font-weight: 600;
      font-size: 17px;
      line-height: 28px;
      color: #4089ed;
      img {
        margin-left: 18px;
      }
    }
  }
}
.check-img {
  width: 350px;
  height: 246px;
  margin-bottom: 21px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.learn-more-button {
  @include margin_auto;
}
