.mobile-apps {
  width: 1156px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.mobile-img {
  width: 665px;
  height: 434px;
  margin-bottom: 266px;
}
.mobile-conteiner {
  width: 420px;
}
.mobile-conteiner h2 {
  width: 254px;
  margin-bottom: 30px;
}
.mobile-conteiner h2::after {
  display: block;
  content: '';
  height: 2px;
  width: 56px;
  background-color: black;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 31px;
  text-align: start;
}
.mobile-conteiner p {
  margin-bottom: 40px;
}
.mobile-conteiner a {
  display: inline-flex;
  align-items: center;
}
.mobile-conteiner img {
  margin-left: 14px;
}
